.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgb(0,0,0);
}


.footerContainer a{
    font-family: 'Noto Sans Duployan', sans-serif;
    text-decoration: none;
    color: #3c7ade;
    margin-bottom: 10px;
}


.fcolumn{
    width: 250px;
    color: #3c7ade;
    margin-right: 50px;
    line-height: 34px;
}

.scolumn{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


.thcolumn{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


/***responsive MEDIA***/

@media (max-width: 1250px){
    .footerContainer{
        font-size: 14px;
    }
}

@media (max-width: 1100px){
    .footerContainer{
        font-size: 12px;
    }
}