.linkWrapper{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 15px;
    z-index: 999;
}

.links{
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
    border-bottom: 2px solid black;
    color:#114aa6;
}
.links:active{
   color: #378bcc;
}


.links:hover{
    border-bottom: 2px solid orange;
}

.links:last-child:hover{
    color:#1661d8;
    border-bottom: none;
}

.GamePage{
    padding-top: 100px;
}

.games{
    display: flex;
    justify-content: center;
}

.cardSection{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1000px;
    margin-bottom: 30px;
}


.menuList{
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menuList li{
    font-weight: 500;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: .3s all;
}

.menuList li:hover{
    background-color: rgba(0, 0, 0, 0.5)
}

.menuList li:first-child{
    border-radius: 5px 5px 0 0;
}

.menuList li:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}


.carousel{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    padding: 0rem 0 2rem 0;
}


.carouselHeader{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}


.tabsContent{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.tabsContent img{
    width: 500px;
    justify-content: center;
}


.tabsDescr{
    width: 500px;
    font-size: 20px;
}

.tabsDescr h5{
    margin: 20px 0;
    font-size: 30px;
}


.tabsBtn{
    border: 1px solid #114aa6;
    border-radius: 5px;
    padding: 7px 30px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12) ;
}

.tabsBtn:hover{
    background: rgba(0, 0, 0, 0.14);
}

.tabHeaders{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.tabHeader{
    margin-right: 50px;
    padding: 10px;
    cursor:pointer;
}

.tabHeaderImage{
    width: 100px;
}

.tabHeaderTitle{
    width: 100px;
    font-size: 14px;
    text-align: center;
}

.active{
    border: 2px solid #114aa6;
    border-radius: 10px;
}


.search{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.searchInput{
    width:30%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px 0 0 4px;
    font-size: 17px;
    padding: 10px;
    font-family: 'Noto Sans Duployan', sans-serif;
}

.searchInput:focus{
    outline: none !important;
}

.searchBtn{
    border: none;
    background-color:  #47e6a3;
    border-radius: 0 4px 4px 0;
    padding: 7px 14px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12) ;
}

.searchBtn:hover{
    background-color: #3ac289;
}

.searchBtn:active{
    transform: translateY(2px);
    box-shadow: none;
}


.selectOp{
    height: 100%;
    border-radius: 4px;
    margin-left: 20px;
    padding: 7px 14px;
    font-size: 18px;
}

.search p{
    position: absolute;
    font-family: 'Noto Sans Duployan', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    bottom: 35px;
    margin-left: 20px;
}

.selectOp:focus{
    outline: none !important;
}

.accessories{
    padding: 100px 0;
}